---
import { Image } from 'astro:assets'
import ProfileImage from '../../assets/img/profileimage.jpg'
import { Icon } from 'astro-icon/components';
import skillsData from '@/data/skills.json';
---


<section class="sec about" id="about">


  <div class="content">

    <div class="contentTitle">
      <h2 class="title">ABOUT</h2>
    </div>

    <div class="profile">

      <div class="image">
        <Image src={ProfileImage} alt="Profile" />
        <div class="name">清水 春雄</div>
        <div class="roma">HARUO SHIMIZU</div>
        <div class="rolls">Web・UI・UXデザイナー <br>Webエンジニア</div>
        <div class="sns flex gap-5 items-center justify-center mt-4">
          <a href="https://github.com/spwebcreat" target="_blank">
            <Icon name="octicon:mark-github-16" class="w-8 h-8" />
          </a>
          <a href="https://x.com/spwebctrat" target="_blank">
            <Icon name="hugeicons:new-twitter-ellipse" class="w-8 h-8" />
          </a>
          <a href="https://codepen.io/spwebcreat6791" target="_blank">
            <Icon name="grommet-icons:codepen" class="w-8 h-8" />
          </a>
        </div>
      </div>
      <div class="profileMeta">

        <table>
          <tr>
            <td>名称:</td>
            <td>
              <span class="font-bold text-lg block md:inline">SP WEB CREAT.</span> （エスピーウェブクリエイト）
            </td>
          </tr>
          <tr>
            <td>所在地:</td>
            <td>大阪府</td>
          </tr>
          <tr>
            <td>事業内容:</td>
            <td>Webサイト・Webアプリ制作全般</td>
          </tr>
        </table>
        <div class="metaText">
          <p>
            10年以上のWEB制作会社での勤務を経て2022年10月より <br class="hidden md:block" />
            フリーランスのWEBエンジニア / Web・UI・UXデザイナー <br class="hidden md:block" />
            として活動しております。
          </p>
          <p>
            デザイン・コーディング・WordPress・モダンJavaScript、<br class="hidden md:block" />
            またSEO対策やアクセス解析などのWEBマーケティング <br class="hidden md:block" />
            についても経験してきた事から幅広いスキルを駆使し、<br class="hidden md:block" />
            近年はAI技術も取り入れながらクライアント様のニーズに<br class="hidden md:block" />
            応じ柔軟な仕事をさせて頂いております。
          </p>
        </div>

        <div class="slills">
          {skillsData.map((skill) => (
            <div class="slill-item">
              <h3 class="slill-item-title">{skill.aboutTitle}</h3>
              <ul>
                {skill.skillTags.map((tag) => (
                  <li>{tag}</li>
                ))}
              </ul>
            </div>
          ))}
        </div>

      </div>

    </div>
  </div>

</section>

<style>
  .profile {
    @apply text-center grid gap-10 mx-auto;
    @apply md:grid-cols-[200px,1fr] md:max-w-[1000px];

  }

  .profile .image{
    @apply w-fit mx-auto;
  }
  .profile img{
    @apply rounded-full w-[200px] h-[200px] object-cover;
  }
  .profile .name {
    @apply text-2xl my-2;
  }
  .profile .roma {
    @apply text-xl;
  }

  .profileMeta {
    @apply text-left;
  }

  .profileMeta table {
    @apply w-[100%];

  }
  .profileMeta table tr {
    @apply border-b border-gray-300/40;
  }

  .metaText {
    line-height: 2;
    margin-top: 20px;
  }
  .profileMeta table tr td {
    @apply py-4;
  }
  .slills {
    @apply grid gap-4 py-10;
  }
  .slill-item {
    @apply text-left;
  }
  .slill-item-title {
    @apply text-lg font-bold;
  }
  .slill-item ul {
    @apply flex flex-wrap gap-1;
  }
  .slill-item ul li {
    @apply bg-white px-2 py-1 text-bk font-bold;
  }
</style>