---
---

<footer class="footer">
  <div class="footerContent">
    <p class="footerText">© 2026 SP WEB CREAT.</p>
  </div>
</footer>

<style lang="stylus">
  .footer
    @apply text-sm text-white text-center py-2 relative z-10;
</style>
